.ref_simbolo {
     
}


.ref_simbolo:hover {
     
}

.cloud .ref_simbolo .weight-1 {font-size: 10px;}
.cloud .ref_simbolo .weight-2 {font-size: 15px;}
.cloud .ref_simbolo .weight-3 {font-size: 20px;}
.cloud .ref_simbolo .weight-4 {font-size: 25px;}
.cloud .ref_simbolo .weight-5 {font-size: 35px;}
.cloud .ref_simbolo .weight-6 {font-size: 40px;}

